html {zoom: 100%;}

body{
    padding:0;
    background-color: rgb(60, 33, 134);
    text-align: left;
    min-width: 200px;
}

h1 {
    color: rgb(212, 205, 205);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 4rem;
    line-height: 2rem;
    text-align: center;
}

h2{
    margin-top:0;
    margin-bottom:.5rem;
    color: maroon;
}
.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}
#welcome{
    background-color: rgba(255,255,255,0.8);
    display:inline-block;
    margin:3rem;
    padding:1rem 2rem 1rem 2rem ;
    text-align: left;
}

.page{
    background-color: Beige;
    display:inline-block;
    padding:1rem;
    text-align: left;
    border-radius: 5px;
    border: 2px lightgrey solid;
}

#welcome p{
    line-height: 4rem;
    font-weight: bold;
}

#hamburger{
    cursor: pointer; 
    /*background-color:white; */
    color:black; 
    padding:20px;
    margin:0;
    /*font-size: 1.2rem;*/
}

.inventory-table{
    font-size: 15px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

.inventory-table th {
    color: maroon;
    background-color: #eaeaea;
  font-size: 15px;
  font-weight: bold;
  padding: 1px;
  border: 1px solid #ccc;
}
.inventory-table td {
    color: black;
    margin:1px;
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
    text-align: right;
    border: 1px dotted #000;
}

.working{
    background-image: url(images/projectmang1.png);
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
}


.inventory-table input {
    width:100%;
    border:none;
    text-align: right;
    background-color: transparent;
}

.sticky{
    position:sticky;
    top:0;
}

.hidden{
    display:none;
}

.show{
    display: inline;
}

.inactive{
    background-color: lightyellow;
}

.active{
    background-color: white;
}

.newprojectoptions{
    border: 4px dotted green;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"], textarea, select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
}
input[type="checkbox"] {
    margin-right: 5px;
}
.hidden {
    display: none;
}
input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #0062cc;
}

  .mark-as-complete {
    flex: 1;
    width: 96%;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .mark-as-complete:hover {
    background-color: #0062cc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
  
  
  .ProjDet{
    overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
  }
  /* Style the check mark */
.check-mark {
    font-size: 18px;
    background-color: lightgreen;
  }
  
  /* Style the X mark */
  .x-mark {
    background-color: lightcoral;
    font-size: 18px;
  }
  